<!doctype html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>VTK Show</title>
</head>

<body>
    <h2>VTK Show Index page</h2>
    <ul>
        <li><a href="/show">De show</a></li>
        <br>
        <li><a href="/">Index page</a></li>
        <li><a href="/timeline">Timeline concept</a>
        <li><a href="/tinder">Tinderswipe concept</a></li>
    </ul>
</body>

</html>
