<!doctype html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/show.js"></script>
    <script src="/js/turn.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/show.css">
    <link rel="stylesheet" type="text/css" href="/css/tinder.css">
    <link rel="stylesheet" type="text/css" href="/css/timer.css">
    <title>VTK Show</title>

</head>

<body id="content" style="background-color:black;">
    <h1 style='color:red;'>VTK Show</h1>
</body>

<script type="text/javascript">
    <%if(section) { %>
    sectie = <%= section %>
    render(sectie, 'forward');
    <% } %>
</script>

</html>
