<!doctype html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/timeline.css">
    <!-- Resource style -->
    <script src="/js/modernizr.js"></script>
    <!-- Modernizr -->

    <title>VTK Show</title>
</head>

<body>
    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
        </div>
        <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-facebook">
                <img src="img/facebook.png" alt="facebook">
            </div>
            <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <img src="img/facebook-post.png" alt="facebook">
                <span class="cd-date">18:18</span>
            </div>
            <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
        </div>
        <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-twitter">
                <img src="img/twitter.jpg" alt="twitter">
            </div>
            <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <img src="img/twitter-post.png" alt="twitter">
                <span class="cd-date">20:32</span>
            </div>
            <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
        </div>
        <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-swarm">
                <img src="img/swarm.png" alt="swarm">
            </div>
            <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Swarm update</h2>
                <p>stuff</p>
                <span class="cd-date">21:12</span>
            </div>
            <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
        </div>
        <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-instagram">
                <img src="img/instagram.png" alt="instagram">
            </div>
            <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Instagram post</h2>
                <p>stuff</p>
                <span class="cd-date">22:33</span>
            </div>
            <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
        </div>
        <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-snapchat">
                <img src="img/snapchat.png" alt="snapchat">
            </div>
            <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Snap</h2>
                <p>stuff</p>
                <span class="cd-date">23:56</span>
            </div>
            <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
        </div>
        <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-sms">
                <img src="img/sms.png" alt="sms">
            </div>
            <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>SMS</h2>
                <p>stuff</p>
                <span class="cd-date">00:00</span>
            </div>
            <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
        </div>
        <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-whatsapp">
                <img src="img/whatsapp.png" alt="whatsapp">
            </div>
            <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>WhatsApp</h2>
                <p>stuff</p>
                <span class="cd-date">01:42</span>
            </div>
            <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
        </div>
        <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-messenger">
                <img src="img/messenger.png" alt="messenger">
            </div>
            <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Messenger</h2>
                <p>stuff</p>
                <span class="cd-date">03:37</span>
            </div>
            <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
        </div>
        <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-tinder">
                <img src="img/tinder.jpg" alt="tinder">
            </div>
            <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Tinder</h2>
                <p>stuff</p>
                <span class="cd-date">04:20</span>
            </div>
            <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
        </div>
        <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-grindr">
                <img src="img/grindr.png" alt="grindr">
            </div>
            <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Grindr</h2>
                <p>stuff</p>
                <span class="cd-date">05:00</span>
            </div>
            <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->
    </section>
    <!-- cd-timeline -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/timeline.js"></script>
</body>

</html>
