<!DOCTYPE html>
<html>

<head>
    <title>VTK Show</title>
    <link rel="stylesheet" type="text/css" href="/css/tinder.css">
</head>

<body style="background-color:black;">
    <div id="phone">
        <div id="app">
            <div class="header" style="height: 16px">
                <div class="top">
                    <span class="left">
              <span class="fontawesome-circle"></span>
                    <span class="fontawesome-circle"></span>
                    <span class="fontawesome-circle-blank"></span>
                    <span>proximus</span>
                    <span class="fontawesome-signal"></span>
                    </span>
                    <span class="center clock"></span>
                    <span class="right">
              <span>69%</span>
                    <div id="battery"></div>
                    <span class="fontawesome-bolt"></span>
                    </span>
                </div>
            </div>
            <div id="people"></div>
            <div id="control">
                <div class="button reverse">
                    <a href="#" class="trigger"><img src="img/reverse.png" style="position:relative; width:70%; height:70%; top:14%" alt="reverse"></a>
                </div>
                <div class="button no">
                    <a href="#" class="trigger"><img src="img/no.png" style="position:relative; width:70%; height:70%; top:14%" alt="no"></a>
                </div>
                <div class="button yes">
                    <a href="#" class="trigger"><img src="img/yes.png" style="position:relative; width:70%; height:70%; top:14%" alt="yes"></a>
                </div>
                <div class="button superlike">
                    <a href="#" class="trigger"><img src="img/superlike.png" style="position:relative; width:70%; height:70%; top:14%" alt="superlike"></a>
                </div>
                </nav>
            </div>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/tinder.js"></script>
</body>

</html>
